@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,500&display=swap");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border: 1px solid #d9d9d9;
}

button button,
button button:active,
button button:focus {
  outline: 0;
}

.btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn-primary:active {
  color: #fff;
  background: #096dd9;
  border-color: #096dd9;
}

.btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff;
}

.container-drag-and-drog {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-top: 15px;
}

.container-drag-and-drog .drag_and_drog {
  width: 402px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px 32px 15px 32px;
}

.container-drag-and-drog .drag_and_drog .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}

.container-drag-and-drog .drag_and_drog .sub-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 3 */
  color: #828282;
}

.container-drag-and-drog .drag_and_drog img {
  width: 600px;
}

.container-drag-and-drog .drag_and_drog_zone {
  padding: 30px;
  border: 1px dashed #97bef4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background: #f6f8fb;
}

.container-drag-and-drog .drag_and_drog_zone img {
  width: 114px;
  margin-bottom: 15px;
}

.container-drag-and-drog .drag_and_drog_zone .description {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.035em;
  /* Gray 4 */
  color: #bdbdbd;
}

.container-drag-and-drog .drag_and_drog .or {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 4 */
  color: #bdbdbd;
}

.container-drag-and-drog .drag_and_drog .button-choose-file {
  border-radius: 8px;
}

.container-drag-and-drog .drag_and_drog .uploading .title {
  text-align: left;
}

.container-drag-and-drog .drag_and_drog .uploading .title h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}

.container-drag-and-drog .drag_and_drog .uploading .meter {
  height: 6px;
  width: 100%;
  /* Gray 6 */
  background: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}

.container-drag-and-drog .drag_and_drog .uploading .meter .meter-medidor {
  z-index: 2;
  height: 6px;
  width: 20%;
  /* Blue 1 */
  background: #2f80ed;
  border-radius: 8px;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-animation: uploading 2.5s linear infinite;
          animation: uploading 2.5s linear infinite;
}

.container-drag-and-drog .drag_and_drog .upload-success {
  position: relative;
}

.container-drag-and-drog .drag_and_drog .upload-success img {
  width: 400px;
  border-radius: 8px;
}

.container-drag-and-drog .drag_and_drog .upload-success .icon-success {
  color: #43853d;
}

.container-drag-and-drog .drag_and_drog .upload-success .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}

.container-drag-and-drog .drag_and_drog .upload-success .container-link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  background: #f6f8fb;
}

.container-drag-and-drog .drag_and_drog .upload-success .container-link-img .url-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.container-drag-and-drog .drag_and_drog .upload-success .container-link-img .url {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}

.dragging {
  background: white;
}

@-webkit-keyframes uploading {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  25% {
    -webkit-transform: translateX(25vh);
            transform: translateX(25vh);
  }
  50% {
    -webkit-transform: translateX(50vh);
            transform: translateX(50vh);
  }
  75% {
    -webkit-transform: translateX(75vh);
            transform: translateX(75vh);
  }
  100% {
    -webkit-transform: translateX(85vh);
            transform: translateX(85vh);
  }
}

@keyframes uploading {
  0% {
    -webkit-transform: translateX(0vh);
            transform: translateX(0vh);
  }
  25% {
    -webkit-transform: translateX(25vh);
            transform: translateX(25vh);
  }
  50% {
    -webkit-transform: translateX(50vh);
            transform: translateX(50vh);
  }
  75% {
    -webkit-transform: translateX(75vh);
            transform: translateX(75vh);
  }
  100% {
    -webkit-transform: translateX(85vh);
            transform: translateX(85vh);
  }
}
/*# sourceMappingURL=main.css.map */